Dear Admin,

Order id: {{ id }}
Order status: {{ status }}
Created (UTC): {{ created_at }}
Updated (UTC): {{ updated_at }}

User email: {{email}}
User wallet: {{wallet}}
Product ID: {{product_id}}
Product name: {{product_name}}
Quantity: {{quantity}}
Transaction ID: {{tx_id}}
Transaction hash: {{tx_hash}}

You can view or update order status at: {{portal_url}}/order/{{tx_id}}/{{token}}

kind regards
