Dear User,

Your order {{id}} status is {{ status }}
Product name: {{product_name}}
Created (UTC): {{ created_at|datetime_fmt("%Y-%m-%d %H:%M:%S") }}
Transaction ID: {{tx_id}}

Thank you for shopping with us!

This is an automated message. Please do not reply.
